.loading-spinner-container {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 8rem;
  height: 8rem;
}
